.gallery {
  margin: 0;
  padding: 0 48px;
  list-style: none;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

.gallery__image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; isn't really necessary if all images will fully fit */
}

@media screen and (max-width: 615px) {
  /* mobile; due to minmax() effective range is 320~631 */
  .gallery {
    padding: 0 16px;
  }
}

@media screen and (min-width: 616px) and (max-width: 931px) {
  /* tablet; due to minmax() effective range is 632~979 */
  .gallery {
    padding: 0 24px;
  }
}
