.intro {
  max-width: 984px;
  padding: 90px 48px 120px;
}

.intro__container {
  max-width: 785px;
}

.intro__title {
  margin: 0 0 40px;
  font-size: 54px;
  line-height: 1.1;
}

.intro__quote {
  margin-bottom: 32px;
  max-width: 720px;
  font-size: 24px;
  line-height: 1.4;
}

.intro__quote-text {
  margin: 0 0 10px;
}

.intro__quote-cite {
  margin: 0;
  text-align: right;
}

.intro__description {
  margin: 0;
  max-width: 720px;
  font-size: 16px;
  line-height: 1.6;
}

@media screen and (max-width: 679px) {
  /* mobile */
}

@media screen and (min-width: 680px) and (max-width: 979px) {
  /* tablet */
  .intro {
    padding: 90px 24px;
  }
}
