.place {
  font-size: 18px;
  line-height: 1.2;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;
}

.place:last-of-type {
  padding-bottom: 0;
}

.place_name_kyiv .place__image {
  background: url(../images/places/photo4.jpg) no-repeat center/cover;
}

.place_name_cricieth .place__image {
  background: url(../images/places/photo2.jpg) no-repeat center/cover;
}

.place_name_berea .place__image {
  background: url(../images/places/photo9.jpg) no-repeat center/cover;
}

.place_name_muramvya .place__image {
  background: url(../images/places/photo10.jpg) no-repeat center/cover;
}

.place_name_riga .place__image {
  background: url(../images/places/photo11.jpg) no-repeat center/cover;
}

.place_name_petah-tikva .place__image {
  background: url(../images/places/photo12.jpg) no-repeat center/cover;
}

.place__title {
  margin: 0;
  font-size: 72px;
  line-height: 1.05;
}

.place__website {
  align-self: end;
}

.place__url-heading {
  display: block; /* default is inline and zeroes out margins */
  margin-bottom: 8px;
  color: #aaa;
  font-size: 12px;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
}

.place__artist {
  margin: 0;
}

.place__image {
  width: 100%; /* failsafe; this isn't effective nor its height in a grid, unlike below: */
}

.place__image::before {
  /* force image to be squared, even with a grid,
  although alternatively and less effective would be aspect-ratio:1; */
  height: 0;
  content: "";
  padding-bottom: 100%;
  display: block;
}

.place__text-block {
  grid-row: span 3;
  /* turns out this affects other columns' height from being square at lower values
  there might be a better solution that would enforce the squaredness but this'll suffice */
}

.place__paragraph {
  margin: 0 0 25px;
}

.place__paragraph:last-of-type {
  margin: 0;
}

.place__buy {
  background-color: #0278fe;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
  padding: 13px 20px;
  justify-self: start;
  align-self: start; /* avoid stretching with longer text-blocks */
  transition: background-color 0.4s ease;
}

.place__buy:hover {
  background-color: #0063d2;
  cursor: pointer;
}

@media screen and (max-width: 631px) {
  /* mobile */
  .place {
    grid-template-columns: auto;
    gap: 30px;
    padding-bottom: 50px;
  }

  .place__title {
    font-size: 32px;
    line-height: 1.1;
    margin: 0 16px;
  }

  .place__website {
    margin: 0 16px;
  }

  .place__text-block {
    margin: 0 16px;
  }

  .place__buy {
    margin: 0 16px;
  }
}

@media screen and (min-width: 632px) and (max-width: 979px) {
  /* tablet */
  .place {
    padding-bottom: 72px;
    column-gap: 28px;
  }

  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}
