.place {
  display: flex;
  gap: 40px;
  font-size: 18px;
  line-height: 1.2;
  padding-bottom: 80px;
}

.place:last-of-type {
  padding-bottom: 0;
}

.place_name_kyiv .place__image {
  background: url(../images/places/photo4.jpg) no-repeat center/cover;
}

.place_name_cricieth .place__image {
  background: url(../images/places/photo2.jpg) no-repeat center/cover;
}

.place_name_berea .place__image {
  background: url(../images/places/photo9.jpg) no-repeat center/cover;
}

.place_name_muramvya .place__image {
  background: url(../images/places/photo10.jpg) no-repeat center/cover;
}

.place_name_riga .place__image {
  background: url(../images/places/photo11.jpg) no-repeat center/cover;
}

.place_name_petah-tikva .place__image {
  background: url(../images/places/photo12.jpg) no-repeat center/cover;
}

.place__column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.place__title {
  margin: 0 0 48px;
  font-size: 72px;
  line-height: 1.05;
}

.place__image {
  margin-bottom: 48px;
  width: 100%;
}

.place__image::before {
  /* force image to be squared */
  content: "";
  padding-bottom: 100%;
  display: block;
}

.place__buy {
  background-color: #0278fe;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
  padding: 13px 20px;
  align-self: flex-start;
  transition: background-color 0.4s ease;
}

.place__buy:hover {
  background-color: #0063d2;
  cursor: pointer;
}

.place__website {
  margin-bottom: 48px;
}

.place__url-heading {
  display: block; /* default is inline and zeroes out margins */
  margin-bottom: 8px;
  color: #aaa;
  font-size: 12px;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
}

.place__artist {
  margin: 0;
}

.place__paragraph {
  margin: 0 0 25px;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 679px) {
  /* mobile */
}

@media screen and (min-width: 680px) and (max-width: 979px) {
  /* tablet */
  .place {
    padding-bottom: 72px;
    gap: 28px;
  }

  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}
